<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.findjob.mapper.AwardMapper">

    <resultMap id="awardResultMap" type="Award">
        <id property="id" column="id" />
        <result property="timeStamp" column="time_stamp" />
        <result property="resumeId" column="resume_id" />
        <result property="rowNum" column="row_num" />
        <result property="date" column="date" />
        <result property="name" column="name" />
    </resultMap>

    <delete id="deleteAwards">
        DELETE FROM award WHERE id in
        <foreach collection="list" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="updateAward" parameterType="com.findjob.pojo.Award">
        UPDATE award SET date = #{date}, name = #{name}
        WHERE id = #{id}
    </update>

    <insert id="insertAward" parameterType="com.findjob.pojo.Award" useGeneratedKeys="true">
        INSERT INTO award(ROWNUM, RESUME_ID, DATE, NAME)
        VALUES (#{rowNum}, #{resumeId}, #{date}, #{name})
    </insert>

    <select id="getAward" parameterType="integer" resultMap="awardResultMap">
        SELECT * FROM award WHERE resume_id = #{resumeId}
    </select>

</mapper>