<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.property.mapper.BillMapper">

    <resultMap id="billResultMap" type="Bill">
        <id property="id" column="id" />
        <result property="createTime" column="create_time" />
        <result property="timeStamp" column="time_stamp" />
        <result property="name" column="name" />
        <result property="fee" column="fee" />
        <result property="payTime" column="pay_time" />
        <result property="property" column="property_id" />
    </resultMap>

    <insert id="insertBills" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bill(PROPERTY_ID, NAME, FEE) VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.property}, #{item.name}, #{item.fee})
        </foreach>
    </insert>

</mapper>