<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.property.mapper.CompanyMapper">

    <resultMap id="companyResultMap" type="Company">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="creator" column="creator" />
        <result property="address" column="address" />
        <result property="email" column="email" />
        <result property="timeStamp" column="time_stamp" />
        <result property="intro" column="intro" />
        <result property="type" column="type" />
    </resultMap>

    <insert id="insertCompany" parameterType="com.property.pojo.Company" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO company(name, creator, address, email, intro, type)
        VALUES (#{name}, #{creator}, #{address}, #{email}, #{intro}, #{type})
    </insert>


    <select id="findCompanyByName" resultMap="companyResultMap">
        SELECT company.id, company.time_stamp, company.name, company.address, company.email,
               company.intro, company.type, user.username AS creator
        FROM company JOIN user ON company.creator = user.id WHERE company.name = #{name}
    </select>

    <select id="findCompanyById" resultMap="companyResultMap" parameterType="integer">
        SELECT company.id, company.time_stamp, company.name, company.address, company.email,
               company.intro, company.type, user.username AS creator
        FROM company JOIN user ON company.creator = user.id WHERE company.id = #{id}
    </select>

    <select id="getCompanyCount" resultType="integer">
        SELECT COUNT(*) FROM company
    </select>

    <select id="findCompanyByPaging" resultMap="companyResultMap">
        SELECT company.id, company.time_stamp, company.name, company.address, company.email,
               company.intro, company.type, user.username AS creator
        FROM company JOIN user ON company.creator = user.id ORDER BY company.id LIMIT #{offset}, 10
    </select>

    <update id="updateCompany" parameterType="com.property.pojo.Company">
        UPDATE company SET name = #{name}, type = #{type}, email = #{email},
                        intro = #{intro}, address = #{address}
        WHERE id = #{id}
    </update>

    <delete id="deleteCompany" parameterType="integer" flushCache="true">
        DELETE FROM company WHERE id = #{id}
    </delete>

    <select id="getAllCompanies" resultMap="companyResultMap">
        SELECT company.id, company.time_stamp, company.name, company.address, company.email,
               company.intro, company.type, user.username AS creator
        FROM company JOIN user ON company.creator = user.id ORDER BY company.id
    </select>

    <select id="getCompanyId" parameterType="string" resultType="int">
        SELECT id FROM company WHERE name = #{name}
    </select>

    <select id="getLatestCompanies" resultMap="companyResultMap">
        SELECT * FROM company ORDER BY time_stamp DESC LIMIT 10
    </select>
</mapper>