<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.property.mapper.NewsMapper">

    <resultMap id="newsResultMap" type="News">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="summary" column="summary" />
        <result property="html" column="html" />
        <result property="markdown" column="markdown" />
        <result property="createTime" column="create_time" />
        <result property="lastEditTime" column="last_edit_time" />
        <result property="timeStamp" column="time_stamp" />
        <result property="clickTimes" column="click_times" />
        <result property="posterUrl" column="poster_url" />
        <result property="author" column="author" />
        <result property="status" column="status" />
    </resultMap>

    <insert id="insertNews" parameterType="com.property.pojo.News" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `news`(`title`, `summary`, `html`, `markdown`, `author`, `status`, `poster_url`)
                VALUES(#{title}, #{summary}, #{html}, #{markdown}, #{author}, #{status}, #{posterUrl})
    </insert>


    <select id="findNewsByTitle" resultMap="newsResultMap">
        SELECT news.id, news.title, news.summary, news.html, news.markdown, news.create_time, news.poster_url,
               news.last_edit_time, news.time_stamp, news.click_times, news.status, user.username AS author
        FROM news JOIN user ON news.author = user.id WHERE `title` = #{title}
    </select>

    <select id="findNewsById" resultMap="newsResultMap" parameterType="int">
        SELECT news.id, news.title, news.summary, news.html, news.markdown, news.create_time, news.poster_url,
               news.last_edit_time, news.time_stamp, news.click_times, news.status, user.username AS author
        FROM news JOIN user ON news.author = user.id WHERE news.id = #{id}
    </select>

    <select id="getNewsCount" resultType="integer" parameterType="integer">
        SELECT COUNT(*) FROM `news` WHERE STATUS = #{status}
    </select>

    <select id="findNewsByPaging" resultMap="newsResultMap">
        SELECT news.id, news.title, news.summary, news.html, news.markdown, news.create_time, news.poster_url,
               news.last_edit_time, news.time_stamp, news.click_times, news.status, user.username AS author
        FROM news JOIN user ON news.author = user.id WHERE `status` = #{status} ORDER BY id LIMIT #{offset}, 10
    </select>

    <select id="getHottestNews" resultMap="newsResultMap">
        SELECT * FROM news ORDER BY click_times DESC LIMIT 10
    </select>

    <select id="findNewsByKeyword" resultMap="newsResultMap" parameterType="string">
        SELECT * FROM news
        <if test="_parameter != null and _parameter != ''">
            <bind name="pattern" value="'%' + _parameter + '%'" />
            WHERE title LIKE #{pattern} OR summary LIKE #{pattern}
        </if>
    </select>

    <update id="updateNews" parameterType="com.property.pojo.News">
        UPDATE news SET title = #{title}, summary = #{summary}, html = #{html},
               markdown = #{markdown}, author = #{author}, news.poster_url = #{posterUrl}
        WHERE id = #{id}
    </update>

    <delete id="deleteNews" parameterType="integer" flushCache="true">
        DELETE FROM news WHERE id = #{id}
    </delete>

    <update id="moveNews2Trash" parameterType="integer">
        UPDATE news SET status = 2 WHERE id = #{id}
    </update>

    <update id="restoreNews" parameterType="integer">
        UPDATE news SET status = 1 WHERE id = #{id}
    </update>
</mapper>